<!--
This is moc email template implemented in ejs.
It will receive an object
{
    "name": "",
    "mocs": [
        "attemptId"{
            "mocID": "",
            "mocTitle": "",
            "courses": [
                {
                    courseName: course.title,
                    dueDate: course.due_date,
                    startDate: course.start_date,
                    diffStartDay: number of start day,
                    diffDueDay: number of due day
                }
            ]
        }
    ]
}
diffStartDays/diffDueDays are array with +ve, -ve & 0. +ve means start/due date is approaching. -ve means it has passed & 0 means on the day of start/due date.
Below is a sample template which reads this object and displays template using the variables read from object
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
    <style>
        body, html{background: #F5F7FA;}
        div{padding-top: 5px;}
        .greeting{color: #C52E26;}
        .mocTitle{font-weight: bold; font-size: 16px; color: #C52E26;}
        .sectionTitle{font-weight: bold; color: #C52E26;}
        .courseDetails{color: #60666D;}
    </style>
</head>

<body>
    <h3 class="greeting"><%= gettext("moc_mail_greet") + " " + name %>,</h3>
    <p><%= gettext("moc_mail_course_notification_body") %></p>
    <%
        for (var key in mocs) {
            if (mocs.hasOwnProperty(key)) {
    var moc = mocs[key];
            %>
                <h3 class="mocTitle"><%= moc.mocTitle %></h3>
            <%  var onStartHtml = "";
    var afterStartHtml = "";
    var beforeStartHtml = "";
    var onDueHtml = "";
    var afterDueHtml = "";
    var beforeDueHtml = "";
    moc.courses.forEach(function(course){
        var text = "<div>" + course.name + "</div>" + "<div>" + gettext("moc_mail_lbl_start_date") + " " + course.startDate + "; " + gettext("moc_mail_lbl_due_date") + " " + course.dueDate;
        if(course.diffStartDay === 0){
            onStartHtml += text;
        } else if (course.diffStartDay < 0){
            beforeStartHtml += text;
        } else if (course.diffStartDay > 0) {
            afterStartHtml += text;
        }
        if(course.diffDueDay === 0){
            onDueHtml += text;
        } else if(course.diffDueDay < 0){
            beforeDueHtml += text;
        } else if(course.diffDueDay > 0) {
            afterDueHtml += text;
        }
    });
    if(onStartHtml !== ""){ %>
        <div class="onStart">
            <div class="sectionTitle"><%= gettext("moc_mail_lbl_courses_opened_today") %></div>
            <div class="courseDetails"><%= onStartHtml %></div>
        </div>
    <%}
    if(beforeStartHtml !== ""){%>
        <div class="beforeStart">
            <div class="sectionTitle"><%= gettext("moc_mail_lbl_courses_upcoming") %></div>
            <div class="courseDetails"><%= beforeStartHtml %></div>
        </div>
    <%}
    if(afterStartHtml !== ""){ %>
        <div class="afterStart">
            <div class="sectionTitle"><%= gettext("moc_mail_lbl_courses_opened") %></div>
            <div class="courseDetails"><%= afterStartHtml %></div>
        </div>
    <%}
    if(onDueHtml !== ""){%>
        <div class="onDue">
            <div class="sectionTitle"><%= gettext("moc_mail_lbl_courses_due_today") %></div>
            <div class="courseDetails"><%= onDueHtml %></div>
        </div>
    <%}
    if(beforeDueHtml !== ""){%>
        <div class="beforeDue">
            <div class="sectionTitle"><%= gettext("moc_mail_lbl_courses_near_due") %></div>
            <div class="courseDetails"><%= beforeDueHtml %></div>
        </div>
    <%}
    if(afterDueHtml !==""){%>
        <div class="afterDue">
            <div class="sectionTitle"><%= gettext("moc_mail_lbl_courses_due") %></div>
            <div class="courseDetails"><%= afterDueHtml %></div>
        </div>
    <%}
            }
        }
    %>
</body>
</html>